body {
  margin: 0;
  font-family: 'KoPubDotum', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important; /*무력으로라도 너의 탄압받은 font-family를 자유롭게 하고 깨우치게 해주리라!*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "KoPubDotum";
  src: url("../public/fonts/KoPub Dotum Medium.ttf");
}

@font-face {
  font-family: "KoPubDotum";
  src: url("../public/fonts/KoPub Dotum Bold.ttf");
  font-weight: bold;
}

/* without this, 'data-width: 100%' will not work. */
.fb-comments, .fb-comments span, .fb-comments iframe { width: 100% !important; }
